.dancers {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

button {
margin-left: 5px;
}

button:hover {
  background-color: lightblue;
}

.mat-column-actions {
  text-align: right;
}

.mat-column-id {
  max-width: 50px;
}
.mat-column-image {
  max-width: 50px;
}

img {
  height: 30px;
  width: 30px;
  border-radius: 100px;
}