/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.dash {
  margin-right: 5px;
}

nav {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}

button:hover {
  background-color: pink;
}

.click {
  background-color: green;
}

.container {
  margin: 2em;
}