/* Master Styles */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 0;
}

a {
  cursor: pointer;
  cursor: hand;
}



/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
